@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main{
    /* padding: 0 32px; */
    padding-top: 100vh;
}

#title{
    background-image: url(../img/star.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1{
    font-family: 'Cooper Black', sans-serif;
    font-size: 100px;
    color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* position: absolute; */
    /* left: 20%;
    top: 60%; */
    transform: translateY(7em) scale(0.5);
    text-shadow: 23px 18px 7px rgba(0, 0, 0, 0.25);
    animation: text-move 2s;
    animation-fill-mode: both;

}

.cloud-one{
    position: absolute;
    width: 60%;
    /* bottom: 17em; */
    left: 400px;
    animation: cloud-one 2s;
    animation-fill-mode: both;

}

.cloud-two{
    position: absolute;
    /* width: 700px; */
    width: 60%;
    left: 170px;
    bottom: 100px;
    /* bottom: 17em; */
    /* transform: translateX(1em); */
    animation: cloud-two 2s;
    animation-fill-mode: both;

}

.mountain{
    /* top: 60%; */
    position: absolute;
    width: 100%;
    /* height: 100%; */
    transform: scale(1.2);
    bottom: 0;
    animation: mountain 2s;
    animation-fill-mode: both;

    
}

.moon-one{
    position: absolute;
    width: 15%;
    /* height: 330px; */
    bottom: 30em;
    left: 10em;
    animation: moon 2s;
    animation-fill-mode: both;
}


.새클래스 {
    animation: 새애니메이션 2s;
    /* 로드 된 이후에 2초 후 새 클래스 추가 onload 로드된 이후 검색
    settimeout으로 2초*/
}


@keyframes moon {
    to{
        transform: translateY(-4em);
    }
}

@keyframes cloud-two {
    to{
        transform: translateX(-550px);
    }
}

@keyframes cloud-one {
    to{
        transform: translateX(550px);
    }
}

@keyframes mountain {
    to{
        transform: scale(1) translateY(9em);
    }
}

@keyframes text-move {
    to{
        transform: translateY(2.5em) scale(1);
    }
}

#intro{
    background-color: #061420;
    border-radius: 150px 150px 0 0;
}

.intro-con{
    padding: 240px 0;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 80px;
    position: relative;
}

.me{
    position: relative;
    width: 50%;
}

.me-img{
    /* z-index: 2; */
    position: relative;
    /* bottom: -150px; */
}

.me-img img{
    margin: 0 auto;
    /* width: 420px;
    height: 603px; */
    width: 65%;
    border: 2px solid #E6E6E6;
    border-radius: 240px;
}

.star-con1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
}

.star-con1 figure{
    position: absolute;
}


.intro-star1{
    /* width: 20px;
    height: 40px; */
    width: 3%;
    left: 13%;
    top: 15%;
    animation: glitter 3s linear infinite;
    /* animation-delay: 1s; */
}

.intro-star2{
    /* width: 20px; */
    /* height: 40px; */
    width: 4%;
    /* left: 86%; */
    right: 9%;
    bottom: 20%;
    animation: glitter 2.5s linear infinite;

}

.intro-star3{
    /* width: 20px; */
    /* height: 40px; */
    width: 4%;
    left: 18%;
    top: 5%;
    animation: glitter 3s linear infinite;
    animation-delay: 1s;

}

.intro-star4{
    /* width: 20px;
    height: 40px; */
    width: 5%;
    left: 15%;
    bottom: 7%;
    animation: glitter 2.5s linear infinite;

}

.intro-star5{
    /* width: 20px;
    height: 40px; */
    width: 4%;
    /* left: 78%; */
    right: 15%;
    top: 10%;
    animation: glitter 2.5s linear infinite;

}

.intro-star6{
    /* width: 20px;
    height: 40px; */
    width: 3%;
    /* left: 82%; */
    right: 15%;
    bottom: 13%;
    animation: glitter 3s linear infinite;
    animation-delay: 1s;

}

@keyframes glitter{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    25%{
        transform: scale(0.8);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    75%{
        transform: scale(0.3);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}



.circle-group{
    /* width: 750px;
    height: 239px; */
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.introduce{
    width: 50%;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #E6E6E6;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.introduce-one{
    font-size: 24px;
    padding-top: 10px;
}

.introduce-two{
    padding-top: 20px;
    line-height: 23px;
}

.introduce-three{
    padding-top: 40px;
    line-height: 23px;

}

.dawn1{
    bottom: -10px;
    width: 50px;
    padding-top: 90px;
}

h2{
    font-size: 64px;
    font-family: 'Cooper Black', sans-serif;
    /* padding-top: 130px; */
}

.intro-deco{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.small-circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E6E6E6;
    /* right: 3px; */
    /* bottom: 18%; */
    
}

.line-1{
    width: 1px;
    height: 530px;
    /* right: 10px;
    top: 230px; */
}

#resume{
    background-color: #1C3044;
}

.tools{
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 100px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

.title-circle{
    width:280px;
    height:100px;
    border-radius:50% / 50%;
    border: 1px solid #E6E6E6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.title-one{
    width:305px;
    height:92px;
}

.small-title{
    font-size: 64px;
    color: #E6E6E6;
    text-align: center;
    /* line-height: 150px; */
}

.icon-wrapper figure{
    width: 71px;
    height: 71px;
}

.tools-container{
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    row-gap: 70px;
    flex-wrap: wrap;
}

.icon-wrapper ul{
    position: relative;
    width: 500px;   
}

.icon-wrapper li{
    background-color: #E6E6E6;
    height: 40px;
    border-radius: 20px;
}

.bar{
    position: absolute;
    border-radius: 20px;
    background-color: #80B0D1;
    height: 40px;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}

.html-progressbar{
    width: 70%;
    animation: html-progressbar 2s ease-out;
}

.css-progressbar{
    width: 60%;
    animation: css-progressbar 2s ease-out;
}

.js-progressbar{
    width: 35%;
    animation: js-progressbar 2s ease-out;
}

.fig-progressbar{
    width: 70%;
    animation: fig-progressbar 2s ease-out;
}

.ps-progressbar{
    width: 70%;
    animation: ps-progressbar 2s ease-out;
}

.ai-progressbar{
    width: 70%;
    animation: ai-progressbar 2s ease-out;
}

.ae-progressbar{
    width: 30%;
    animation: ae-progressbar 2s ease-out;
}

@keyframes html-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes css-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}

@keyframes js-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 35%;
    }
}

@keyframes fig-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes ps-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes ai-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes ae-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 30%;
    }
}

/* 애니메이션 자바스크립트로 실행하고 싶은데 애니메이션 7개라서ㅜㅜ 어떤식으로?
bar를 가져와주면 됨 둘다 span임  */
/* 메인 사진들 로드하면 한번만 움직이도록 어떻게? */

.soft-skills{
    max-width: 1320px;
    margin: 0 auto;
}

.title-two{
    width: 447px;
    height: 124px;
}

.ss-wrapper{
    max-width: 1096px;
    margin: 0 auto;
    padding: 0 178px;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-content: center; */
    /* column-gap: 300px; */
    row-gap: 100px;
    
}

.img-wrap svg{
    /* width: 120px; */
    /* height: 114px; */
    width: 100%;
    height: 100%;
}

.img-wrap{
    padding: 32px 32px;
    width: 184px;
    height: 184px;
}

.ss-one,.ss-two,.ss-three,.ss-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #E6E6E6;
    position: relative;
    flex-basis: calc(40% - 16px);
}

.ss-explanation{
    padding-left: 30px;
    padding-top: 20px;
    border-top: 1px solid #E6E6E6;
    width: 100%;
    box-sizing: border-box;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 16px;
    color: #E6E6E6;
}

.ss-explanation p{
    padding-bottom: 10px;
}

.rectangle{
    width: 32px;
    height: 32px;
    position: absolute;
    top: -1px;
    left: 0;
    border: 1px solid #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Cooper Black', sans-serif;
    color: #E6E6E6;
}

.title-three{
    width: 380px;
    height: 116px;
}

.interest-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 874px;
    margin: 0 auto;
    padding: 100px 0 200px;
}

.interest-icon figure{
    width: 167px;
}

.interest-icon p{
    font-size: 20px;
    color: #E6E6E6;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 48px;
}

.title-four{
    width: 322px;
    height: 108px;
}

.ability-wrapper{
    max-width: 1320px;
    margin: 0 auto;
    text-align: left;
}

.ability-wrapper ul{
    padding-top: 100px;
    padding-bottom: 200px;
    width: 515px;
    margin: 0 auto;
    list-style: disc;
}

.ability-wrapper li{
    font-size: 20px;
    color: #e6e6e6;
    font-family: 'GangwonEdu_OTFBoldA';
    padding-bottom: 20px;
}

.title-five{
    width: 413px;
    height: 121px;
}

.slider{
    position: relative;
}

.slide-wrapper{
    margin: 0 auto;
    width: 800px;
    height: 450px;
    padding-top: 100px;
    padding-bottom: 200px;
    
}

.slide-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.slide-container::before{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #e6e6e6;
    border-radius: 300px;
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    /* width: 832px; */
    /* height: 482px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.star-con figure{
    position: absolute;
}

.star-con{
    width: 100%;
    height: 100%;
    position: absolute;
}

.star1{
    width: 21px;
    right: 40px;
    bottom: 0;
    animation: glitter 3s linear infinite;

}

.star2{
    width: 42px;
    left: 10px;
    top: -10px;
    animation: glitter 2.5s linear infinite;

}

.star3{
    width: 21px;
    left: -10px;
    top: 60px;
    animation: glitter 2s linear infinite;


}

.star4{
    width: 90px;
    bottom: 20px;
    right: -50px;
    animation: planet 2s linear infinite;

}

@keyframes planet{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);

    }
}

.buttons{
    display: flex;
    width: calc(100% + 240px);
    /* padding-left: 60px; */
    /* margin: 0 auto; */
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow{
    cursor: pointer;
}

.arrow img{
    width: 104px;
}




.slide-contents{
    display: flex;
    border: 2px solid #F7F6F6;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 225px;
    overflow: hidden;
    position: relative;


}

.pofol{
    position: absolute;
    /* opacity: 0; */
    /* 자바할때 opacity 0 기본으로 해주고! 지금은 헷갈리니까 지워주기 */
}

.pofol img{
    width: 800px;
    height: 450px;
}

.black{
    opacity: 0;
    position: absolute;
    background: rgba(14, 29, 43, 0.8);
    width: 800px;
    height: 450px;
    border-radius: 225px;
    left: 0;
    top: 0;
    transition: 0.5s;
    text-align: center;
    font-size: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #e6e6e6;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.pofol:hover .black{
    opacity: 1;
}


.black p{
    padding-bottom: 20px;
}

.a-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.black a{
    font-size: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #e6e6e6;   
}

.pc-hide{
    font-size: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #e6e6e6;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    display: none;
}

.pc-hide a{
    font-size: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #e6e6e6;   
}

/* 구글에 디졸브 캐러셀 */

.pf-deco{
    position: relative;
}

.pf-line{
    width: 90%;
    margin: 0 auto;
    padding-right: 10px;
    padding-bottom: 100px;
}

.pf-circle{
    position: absolute;
    bottom: 90px;
    right: 35px;
}

footer{
    background-color: #061420;
    font-family: 'Cooper Black', sans-serif;
    color: #E6E6E6;
    text-align: center;
    position: relative;
}

.e-mail{
    padding-top: 100px;
}

.contact-wrapper{
    position: relative;
    z-index: 1;
}

.contact-wrapper div{
    display: flex;
    /* justify-content: center; */
    width: 400px;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 36px;
}

.contact-wrapper div p{
    padding-left: 20px;
}

.contact-wrapper div a{
    padding-left: 20px;
    color: #e6e6e6;
}

h3{
    font-size: 100px;
    padding-top: 150px;
}

.thanks{
    font-family: 'GangwonEdu_OTFBoldA';
    padding-bottom: 200px;
    z-index: 1;
    position: relative;
    line-height: 25px;
    padding-top: 200px;
}


.img-con figure{
    position: absolute;
}

.footer-moon{
    width: 100px;
    left: 17%;
    bottom: 71%;
    /* animation: moonx 2.5s infinite cubic-bezier(0, 0.5, 0.5, 1) */
}



/* @keyframes moonx{
    50% {
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        transform: translateX(300px);
    }
} */
/* 포물선으로 움직이는ㄱ 어떻게해요 */


.ellipse{
    width: 50em;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.star-back{
    width: 800px;
    right: 0;
    bottom: 0;
    /* z-index: 0; */
}

.line-2{
    width: 98vw;
    /* 이거 왜 100vw하면 튀어나오나요? */
    bottom: 80px;
}


/* 1240 905 599 */
/* 1068 */

@media screen and (max-width: 1240px) {
    h1{
        font-size: 80px;
    }

    .cloud-one{
        bottom: 350px;
    }

    @keyframes moon {
        to{
            transform: translateY(-50%);
        }
    }

    @keyframes mountain {
        to{
            transform: scale(1) translateY(3em);
        }
    }

    @keyframes text-move {
        to{
            transform: translateY(5em) scale(1);
        }
    }

    @keyframes cloud-two {
        to{
            transform: translateX(-300px);
        }
    }
    
    @keyframes cloud-one {
        to{
            transform: translateX(200px);
        }
    }

    .intro-con{
        padding: 100px 0;
        flex-direction: column;
        max-width: 770px;
        gap: 50px;
    }

    .me{
        width: 100%;
        /* padding-top: 100px; */
    }

    .me-img img {
        width: 40%;
    }

    .circle-group {
        width: 70%;
    }

    .introduce{
        width: 100%;
    }

    .br-hide{
        display: none;
    }

    .tools{
        max-width: 770px;
    }

    .tools-container{
        justify-content: center;
    }

    .soft-skills{
        max-width: 770px;
    }

    .ss-wrapper{
        max-width: 770px;
        padding: 100px 0 200px 0;
    }

    .interest-icon{
        width: 770px;
    }

    .slide-wrapper{
        width: 600px;
        height: 345px;
    }

    .black{
        width: 600px;
        height: 345px;
    }

    .pofol figure img{
        width: 600px;
        height: 345px;
        
    }

    .buttons{
        width: calc(100% + 200px);
    }

    .arrow img{
        width: 77px;
    }

    .star-con {
        width: 106%;
        height: 111%;
        left: -25px;
        top: -15px;
    }
}

@media screen and (max-width: 820px){
    h1{
        font-size: 50px;
        transform: translateY(10em) scale(0.5);

    }

    .moon-one{
        width: 20%;
        left: 3em;
        bottom: 40em;
    }

    .cloud-one{
        width: 80%;
        left: 200px;
        bottom: 400px;
    }

    .cloud-two{
        bottom: 300px;
        width: 80%;
    }

    @keyframes moon {
        to{
            transform: translateY(-30%);
        }
    }

    @keyframes mountain {
        to{
            transform: scale(2) translateY(-3em);
        }
    }

    @keyframes cloud-two {
        to{
            transform: translateX(-450px);
        }
    }

    @keyframes cloud-one {
        to{
            transform: translateX(200px);
        }
    }

    @keyframes text-move {
        to{
            transform: translateY(7em) scale(1);
        }
    }    

    .intro-con{
        max-width: 328px;
    }
}
