
.move-top{
    transform: translateY(-80px);
    opacity: 0;
}


.move-right{
    transform: translateX(-100px);
    opacity: 0;
}

.show {
    transform : none;
    opacity: 1;
    transition-duration: 1s;
}

/* .show:nth-of-type(2){
    transition-delay: 0.2s;
}

.show:nth-of-type(3){
    transition-delay: 0.4s;
} */

.moon-move{
    animation: moving 2s alternate infinite;
    
}

.cloud1-move{
    animation: moving 1.5s alternate infinite; 
}

.cloud2-move{
    animation: moving 1s alternate infinite;

}

@keyframes moving{
    to{
        transform: translateY(10px);
    }
}

.새클래스 {
    animation: 새애니메이션 2s;
    /* 로드 된 이후에 2초 후 새 클래스 추가 onload 로드된 이후 검색
    settimeout으로 2초*/
}

.on{
    opacity: 1;
    z-index: 1;
}

/* 자바할때 on 빼고 작업
작업하기 어려우니까 on 넣어주고 */

/* .html-progressbar{
    width: 70%;
    animation: html-progressbar 2s ease-out;
}

.css-progressbar{
    width: 60%;
    animation: css-progressbar 2s ease-out;
}

.js-progressbar{
    width: 35%;
    animation: js-progressbar 2s ease-out;
}

.fig-progressbar{
    width: 70%;
    animation: fig-progressbar 2s ease-out;
}

.ps-progressbar{
    width: 70%;
    animation: ps-progressbar 2s ease-out;
}

.ai-progressbar{
    width: 70%;
    animation: ai-progressbar 2s ease-out;
}

.ae-progressbar{
    width: 30%;
    animation: ae-progressbar 2s ease-out;
}

@keyframes html-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes css-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}

@keyframes js-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 35%;
    }
}

@keyframes fig-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes ps-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes ai-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}

@keyframes ae-progressbar {
    from{
        width: 0%;
    }
    to{
        width: 30%;
    }
} */