/* .pf-opacity{
    opacity: 0;
} */

.on{
    opacity: 1;
    z-index: 1;
}

/* 자바할때 on 빼고 작업
작업하기 어려우니까 on 넣어주고 */

.moon-move{
    animation: moon-move 2s alternate infinite;
}

.cloud1-move{
    
}

.cloud1-move{
    
}

@keyframes moon-move{
    to{
        transform: translateY(10px);
    }
}